body {
    display: flex;
    flex-direction: column;
    height: 200vh;
    padding:0;
    margin: 0;
    font-family: roboto, "sans-serif";        
}

.section1 {
    background-color: #1F2937;
    flex: 1.5;
    display: flex;
    
    
}

.section2,
.section4 {
    background-color: #F9FAF8;
    flex: 1.25;
    
}

.section3 {
    background-color: #E5E7EB;
    flex: 1.25;
    display: flex;
    
}

.section5 {
    background-color: #1F2937;
    flex: 0.25;
}

.content {
    margin: 0 275px;
    display: flex;
    flex-direction: column;
    
    
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;

}    

.logo {
    margin-right: auto;
}

.logo a {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-link a,
.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    margin-bottom: 0;
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 10px;
  }
  
button.submit {
    background: #3882F6;
    border: 1px solid #3882F6;
    color: white;
  }

 .hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    
 }

.hero {
    display: flex;
    gap: 70px;
    margin: auto;
    align-items: center;
}

.hero div {
    flex: 1;
}

.image-placeholder {
    background: rgba(239,231,235,0.5);
    display: flex;
    align-items: center;
    height: 250px;
    text-align: center;
}

.image-placeholder .image-text {
    color: #F9FAF8;
}


.info-header {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-top: 32px;
    margin-bottom: 36px;
    
}

.info-image {
    width: 150px;
    height: 150px;
    border: #3882F6 solid;
    margin-bottom: 8px;
    border-radius: 15px;
}

.info {
    max-width: 150px;
    text-align: center;
}

.info-text {
    color: #1F2937;
    /* font-weight: 300; */
    opacity: 0.7;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937; 
    opacity: 0.7;
}

.some-guy {
    color: #1F2937;
    font-weight: 900;
    font-size: 24px;
    margin-top: 8px;
    text-align: end;
    
}

.customer-review {
    margin: auto 225px;
    
}

