body {
    display: flex;
    flex-direction: column;
    height: 170vh;
    padding:0;
    margin: 0;
    font-family: roboto, "sans-serif";        
}

.section1 {
    background-color: #1F2937;
    flex: 1.5;
    display: flex;
    
    
}

.section2,
.section4 {
    background-color: #F9FAF8;
    flex: 1;
    
}

.section3 {
    background-color: #E5E7EB;
    flex: 1;
    
}

.section5 {
    background-color: #1F2937;
    flex: 0.25;
}

.content {
    margin: 0 250px;
    display: flex;
    flex-direction: column;
    
    
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;

}    

.logo {
    margin-right: auto;
}

.logo a {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-link a,
.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    margin-bottom: 0;
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 10px;
  }
  
button.submit {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
  }

 .hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    
 }

.hero {
    display: flex;
    gap: 70px;
    margin: auto;
    align-items: center;
}

.hero div {
    flex: 1;
}

.image-placeholder {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    height: 250px
    
}

.image-placeholder div {
    text-align: center;
}



